<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="de.michaelskoehler.imgtrafo"
    version="0.1.0">

    <name>imgtrafo</name>
    <description>Cordova Plugin calling an OpenCV script to perform an image transformation</description>
    <license>MIT</license>
    <keywords>opencv,image</keywords>

    <js-module src="www/imgtrafo.js" name="imgtrafo"> 
        <clobbers target="imgtrafo" /> <!-- ermoeglicht Zugriff auf plugin ueber target (hier: imgtrafo, Zugriff z.B. imgtrafo.methode()) -->
    </js-module>
</plugin>
   