<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="de.michaelskoehler.sampleplugin"
    version="0.1.0"> <!-- id = a unique namespace (use your website; or anything else) -->

    <name>sampleplugin</name>
    <description>a very simple annotated hello world cordova plugin showing how to call a native android java command from javascript (here: simple alert dialog with a message); call plugin in your javascript with SamplePlugin.methodOne();</description>
    <license>MIT</license>
    <keywords>sample, example, helloworld, hello, world, demo, sampleplugin</keywords>

    <!-- include js interface -->
    <js-module src="www/SamplePlugin.js" name="SamplePlugin">  
        <clobbers target="SamplePlugin" /> <!-- enables access to plugin from your javascript code, here: access plugin with SamplePlugin.methodOne();) -->
    </js-module>
    
    <!-- include native code for ANDROID platform  -->
     <platform name="android">
       
        <!-- plugin must have an entry in the android specific (phonegap-)config.xml file so that the platform knows about the additional code library -->
        <config-file target="res/xml/config.xml" parent="/*"> 
            <feature name="SamplePlugin"> <!-- name = Java class to call, e.g. "SamplePlugin" (equal to third parameter in javascript cordova.exec function) -->
                <param name="android-package" value="de.michaelskoehler.sampleplugin.SamplePlugin"/> <!-- value = namespace.featurename, e.g. de.michaelskoehler.sampleplugin.SamplePlugin -->
            </feature>
        </config-file>

        <!-- include/install native java files for the plugin user -->
        <!-- src = location of the file for the plugin developer, relative to plugin.xml --> 
        <!-- target-dir = location where the file is copied when the plugin is installed; because of java the last part of the path must correspont to the namespace, here: src/de/michaelskoehler/sampleplugin --> 
        <source-file src="src/android/SamplePlugin.java" target-dir="src/de/michaelskoehler/sampleplugin" />     
     </platform>          
    
</plugin>
   